@tailwind base;
@tailwind components;
@tailwind utilities;




.slick-icons {
    position: absolute;
    width: 4rem;
    height: 4rem;
    /* border: 1px solid red; */
    border-radius: 50%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .slick-icons--left,
  .slick-icons--right {
    font-size: 2rem;
  }
  
  .slick-icons--left {
    bottom: -5rem;
    left: 2rem;
  }
  
  .slick-icons--right {
    bottom: -5rem;
    left: 7rem;
  }
  